:root {
  --main-text: #311c03;
  --main-text-link: #9c4c00;
  --nav-link: #f9e9e0;
  --nav-hover: #bba395;
  --dark-main: #2e1f0e;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
}
body {
  margin: 0px;
  font-family: "Shantell Sans", cursive;
  font-size: 20px;
  text-wrap: balance;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}
.container {
  width: 100%;
  color: var(--main-text);
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: row wrap;
  background-color: #f8f5eb;
}
h1 {
  font-weight: 400;
  font-size: clamp(2em, 3vw, 4em);
  text-shadow: 2px 2px 2px #242424;
}
@media (min-width: 600px) {
  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
h2 {
  padding-top: 5px;
  font-size: 32px;
  font-weight: 400;
  color: #502e02;
  padding-bottom: 5px;
}
h3 {
  font-size: 16px;
  font-weight: 400;
  color: #64481e;
}
.logo {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 50%;
  max-height: 80%;
  display: flex;
  align-items: center;
  align-content: center;
  scale: 60%;
}
.logo img {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}
@media (min-width: 1200px) {
  .logo {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    scale: 90%;
  }
}
.div_nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 20vh;
  background-color: var(--dark-main);
  font-weight: 400;
  font-size: 18px;
  color: var(--nav-hover);
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
.div_nav a:link {
  color: var(--nav-link);
  text-decoration: none;
  transition: 0.8s ease;
}
.div_nav a:visited {
  color: var(--nav-link);
  text-decoration: none;
}
.div_nav a:hover {
  color: var(--nav-hover);
  text-decoration: none;
}
.nav_items {
  width: auto;
  margin-left: 15px;
  display: inline-block;
}
@media (min-width: 1200px) {
  .nav_items {
    font-size: 22px;
    margin-left: 30px;
  }
  .div_nav {
    height: 15vh;
  }
}
.nav_items_row {
  text-align: center;
  padding-top: 10px;
}
.home_photo {
  background-image: url(images/home.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  margin-bottom: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f1da;
}
.main-full-height {
  width: 100%;
  font-weight: 400;
  color: var(--main-text);
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  position: relative;
}
.main-full-height a:link {
  color: var(--main-text-link);
  text-decoration: none;
  font-weight: 800;
}
.main-full-height a:visited {
  color: var(--main-text-link);
  text-decoration: none;
}
.main-full-height a:hover {
  color: #c7834c;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .main-full-height {
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    position: relative;
  }
}
.main-full-height-2 {
  width: 100%;
  font-weight: 400;
  color: var(--main-text);
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  position: relative;
  background-color: #e2dbc8;
}
.main-full-height-2 a:link {
  color: var(--main-text-link);
  text-decoration: none;
  font-weight: 800;
}
.main-full-height-2 a:visited {
  color: var(--main-text-link);
  text-decoration: none;
}
.main-full-height-2 a:hover {
  color: #c7834c;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .main-full-height-2 {
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    position: relative;
  }
}
.main_left {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 20px;
}
.main_right {
  width: 100%;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_right img {
  width: 90%;
}

@media (min-width: 1200px) {
  .main_left {
    width: 45%;
    padding: 50px;
    margin-left: 80px;
  }
  .main_right {
    width: 40%;
  }
}
.header_container {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  padding-left: 5vw;
  padding-right: 5vw;
}
@media (min-width: 1200px) {
  .header_container {
    width: 1200px;
    height: 25vh;
    min-height: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header_left {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.header_right {
  width: 100%;
  display: inline-block;
  text-align: center;
}
@media (min-width: 900px) {
  .header_left {
    width: 20%;
    text-align: left;
  }
  .header_right {
    width: 80%;
    text-align: right;
  }
}
.gallery_header {
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.gallery {
  width: 100%;
  min-height: 45vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery_thumbs {
  width: 320px;
  height: 320px;
  display: flex;
  margin: 15px;
  overflow: hidden;
  border: 1px solid #3b3b3b;
  transition: 0.4s ease;
}
.gallery_thumbs:hover {
  opacity: 0.8;
  border: 1px solid #e47a24;
}
.gallery_thumbs img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}
.small_text {
  font-size: 14px;
}
.container_footer {
  font-family: "Shantell Sans", cursive;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: var(--dark-main);
}
.footer {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  color: var(--nav-hover);
  text-align: center;
  width: 95%;
}
.footer a:link {
  color: var(--nav-hover);
  text-decoration: none;
}
.footer a:visited {
  color: var(--nav-hover);
  text-decoration: none;
}
.footer a:hover {
  color: #b49c77;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
}
